@import url("http://fonts.cdnfonts.com/css/avenir");
:root {
  --animate-duration: 3000ms;
  --animate-delay: 1s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir' , sans-serif;
  font-style: light;
  background-repeat: no-repeat;
  background-color: #0F1D17;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  width: 30%;
}

.wrapper {
  position: relative;
}

.wrapper .float {
  position: absolute;
  z-index: -99;
}

.wrapper .float img {
  width: 90px;
}

.wrapper .float .float2 {
  -webkit-animation: bounce 0.85s;
          animation: bounce 0.85s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.wrapper .float .float3 {
  -webkit-animation: bounce 0.9s;
          animation: bounce 0.9s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.wrapper .float .float5 {
  -webkit-animation: bounce 0.75s;
          animation: bounce 0.75s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.wrapper .float .float8 {
  -webkit-animation: bounce 0.8s;
          animation: bounce 0.8s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.wrapper .float .float14 {
  -webkit-animation: bounce 0.86s;
          animation: bounce 0.86s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.wrapper .float .float1 {
  display: none;
  position: absolute;
  top: 800px;
  left: 100px;
}

.wrapper .float .float2 {
  display: block;
  position: absolute;
  top: 800px;
  left: 150px;
  width: 88px;
}

.wrapper .float .float3 {
  display: block;
  position: absolute;
  top: 1400px;
  left: 150px;
  width: 93px;
}

.wrapper .float .float4 {
  display: none;
  position: absolute;
  top: 600px;
  left: 100px;
}

.wrapper .float .float5 {
  display: block;
  position: absolute;
  top: 600px;
  left: 100px;
  width: 78px;
}

.wrapper .float .float6 {
  display: none;
  position: unset;
}

.wrapper .float .float7 {
  display: none;
}

.wrapper .float .float8 {
  display: block;
  position: absolute;
  top: 150px;
  left: 100px;
  width: 62px;
}

.wrapper .float .float13 {
  display: none;
  position: absolute;
}

.wrapper .float .float14 {
  display: inline-block;
  position: absolute;
  top: 400px;
  left: 150px;
  width: 71px;
  height: 103px;
}

.wrapper .rec {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
}

header .logo {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo img {
  width: 50%;
}

header .number {
  display: none;
}

.hero {
  margin: 30px 20px;
}

.hero .hero-desc {
  -webkit-animation: introLoad 1s ease-in;
          animation: introLoad 1s ease-in;
}

.hero .hero-desc h2 {
  color: #DADADA;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
}

.hero .hero-desc p {
  color: #DADADA;
  line-height: 23px;
  margin-top: 32px;
}

.hero .hero-desc h4 {
  color: #717171;
  margin-top: 32px;
  text-align: center;
}

.hero .hero-desc .button {
  margin-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
  cursor: pointer;
}

.hero .hero-desc .button .btn1 {
  width: 170px;
  border-radius: 8px;
  border: none;
  padding: 16px;
  font-size: 16.58px;
  color: #47BD8F;
  background-color: #47BD8F;
}

.hero .hero-desc .button .btn1 a {
  color: #F9F8F8;
}

.hero .hero-desc .button .btn1:hover {
  -webkit-transform: scaleX(0.94);
          transform: scaleX(0.94);
}

.hero .hero-desc .button .btn2 {
  width: 170px;
  height: 52px;
  border-radius: 8px;
  border: 3px solid #47BD8F;
  padding: 16px;
  font-size: 16.58px;
  color: #F9F8F8;
  background-color: transparent;
}

.hero .hero-desc .button .btn2 a {
  color: #47BD8F;
}

.hero .hero-desc .button .btn2:hover {
  -webkit-transform: scaleX(0.95);
          transform: scaleX(0.95);
}

.hero .our-client h4 {
  font-size: 16px;
  color: #DADADA;
  margin-top: 85px;
  margin-bottom: 1em;
}

.hero .our-client .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.hero .our-client .box-container .box-1 img {
  width: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.hero .our-client .box-container .box-1 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .checkdp {
  margin: 1em 1em;
  text-align: center;
}

footer .checkdp h3,
footer .checkdp h4 {
  color: #7B7B7B;
  font-size: 1em;
  margin-bottom: 4.5rem;
  line-height: 1.7;
}

footer .checkdp a {
  color: #47BD8F;
}

footer .footer_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  margin-top: 1rem;
}

footer .footer_socials a {
  color: #47BD8F;
}

@media only screen and (min-width: 800px) {
  .hero h2 {
    color: #DADADA;
    font-size: 50px;
    font-weight: 300;
    line-height: 48px;
  }
  .hero p {
    color: #DADADA;
    line-height: 23px;
    margin-top: 32px;
  }
  .hero h4 {
    color: #717171;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px;
    text-align: start;
  }
  .hero .hero-desc {
    -webkit-animation: introLoad 1s ease-in;
            animation: introLoad 1s ease-in;
    margin: 4.5rem;
  }
  .hero .our-client h4 {
    font-size: 16px;
    color: #DADADA;
    margin: 40px 60px;
  }
  .hero .our-client .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    gap: 10px;
    width: 90%;
  }
  .hero .our-client .box-container .box-1 img {
    width: 100%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .hero .our-client .box-container .box-1 img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media only screen and (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir' , sans-serif;
    font-style: light;
    background-repeat: no-repeat;
    background-color: #0F1D17;
    overflow-x: hidden;
  }
  .wrapper {
    position: relative;
    margin-left: 80px;
    margin-right: 50px;
    margin-top: 30px;
    background-image: none;
  }
  .wrapper .float {
    position: absolute;
    z-index: -99;
  }
  .wrapper .float img {
    width: 70px;
  }
  .wrapper .float .float1 {
    -webkit-animation: bounce 0.82s;
            animation: bounce 0.82s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .wrapper .float .float2 {
    -webkit-animation: bounce 0.85s;
            animation: bounce 0.85s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .wrapper .float .float3 {
    -webkit-animation: bounce 0.9s;
            animation: bounce 0.9s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .wrapper .float .float4 {
    -webkit-animation: bounce 0.95s;
            animation: bounce 0.95s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .wrapper .float .float5 {
    -webkit-animation: bounce 0.75s;
            animation: bounce 0.75s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .wrapper .float .float6 {
    -webkit-animation: bounce 0.7s;
            animation: bounce 0.7s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .wrapper .float .float7 {
    -webkit-animation: bounce 0.85s;
            animation: bounce 0.85s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .wrapper .float .float8 {
    -webkit-animation: bounce 0.8s;
            animation: bounce 0.8s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .wrapper .float .float13 {
    -webkit-animation: bounce 0.88s;
            animation: bounce 0.88s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .wrapper .float .float1 {
    display: block;
    position: absolute;
    left: 400px;
    top: 650px;
    width: 102px;
  }
  .wrapper .float .float2 {
    display: block;
    position: absolute;
    left: 850px;
    top: 600px;
    width: 88px;
  }
  .wrapper .float .float3 {
    display: block;
    position: absolute;
    left: 50px;
    top: 700px;
    width: 93px;
  }
  .wrapper .float .float4 {
    display: block;
    position: absolute;
    left: 600px;
    top: 600px;
    width: 62px;
  }
  .wrapper .float .float5 {
    display: block;
    position: absolute;
    left: 800px;
    top: 100px;
    width: 78px;
  }
  .wrapper .float .float6 {
    display: block;
    position: absolute;
    left: 500px;
    top: 400px;
    width: 185px;
  }
  .wrapper .float .float7 {
    display: block;
    position: absolute;
    left: 300px;
    top: 500px;
    width: 71px;
  }
  .wrapper .float .float8 {
    display: block;
    position: absolute;
    left: 470px;
    top: 100px;
    width: 62px;
  }
  .wrapper .float .float13 {
    display: block;
    position: absolute;
    left: 600px;
    top: 3px;
    width: 88px;
  }
  .wrapper .float .float14 {
    display: none;
  }
  .wrapper .rec {
    display: block;
    z-index: -31;
    position: absolute;
    bottom: 15%;
    -webkit-animation: linear infinite;
            animation: linear infinite;
    -webkit-animation-name: run;
            animation-name: run;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
  }
  .wrapper .rec img {
    width: 100%;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  header .logo img {
    width: 40%;
    margin: 0;
  }
  header .logo h3 {
    color: #F7F7F7;
    text-align: center;
    font-size: 17.69px;
    font-style: light;
  }
  header .number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 100px;
  }
  header .number h4 {
    color: #47BD8F;
  }
  header .number h4 span {
    color: #717171;
  }
  header .number h4 a {
    font-size: 17px;
    font-weight: 800;
    color: #47BD8F;
  }
  header .number button {
    margin-right: 1rem;
    border-radius: 8px;
    border: none;
    padding: 15px;
    margin-left: 42px;
    font-size: 17px;
    font-weight: 800;
    color: #47BD8F;
    background-color: #47BD8F;
  }
  header .number button a {
    color: #F9F8F8;
  }
  header .number button:hover {
    -webkit-transform: scaleX(0.95);
            transform: scaleX(0.95);
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .hero-desc {
    margin-top: 0;
    margin: 0;
  }
  .hero .hero-desc h2 {
    color: #DADADA;
    font-size: 54.08px;
    font-weight: 300;
    line-height: 62.1px;
  }
  .hero .hero-desc p {
    color: #DADADA;
    line-height: 21.86px;
    margin-top: 32px;
  }
  .hero .hero-desc h4 {
    color: #717171;
    margin-top: 32px;
    text-align: start;
  }
  .hero .hero-desc h4 span {
    display: none;
  }
  .hero .hero-desc .button {
    margin-top: 53px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    display: none;
  }
  .hero .our-client h4 {
    font-size: 16px;
    color: #DADADA;
    margin: 0 0  50px 0;
  }
  .hero .our-client .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 10px;
    width: 100%;
  }
  .hero .our-client .box-container .box-1 img {
    width: 100%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .hero .our-client .box-container .box-1 img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  footer {
    margin-top: 100px;
  }
  footer .checkdp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: start;
    font-size: 16.58px;
  }
  footer .checkdp a {
    color: #47BD8F;
  }
}

/* ANIMATION */
@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 200px);
  }
  100% {
    left: 0;
  }
}

@keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 200px);
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */